.htubi-emoji-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 273px;
  height: 276.37px;


}

.htubi-emoji-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16.38px;
}

.htubi-emoji-arrow {
  width: 60px; /* Width for arrow icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.htubi-round-arrow {
  height: 43px;
  width: 43px;
}

.htubi-emoji-card {

  width: 77.52px;
  height: 79.2px;
  padding: 8.43px;
  border-radius: 29.49px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-align: center;
  background-color: #f9f9fb; /* Light background for emojis */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px; /* Space between emoji cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.htubi-emoji-card-items {
  position: relative; /* Relative for positioning lock */
}

.htubi-emoji-selected {
  background-color: #A9C5FF; /* Highlight color for selected emoji */
  color: black;
  transform: scale(1.05); /* Slightly enlarge the selected emoji */
}

.htubi-emoji-locked {
  color: gray;
  margin-bottom: 1.68;
}

/* .htubi-emoji-lock {
  position: absolute;
  top: 5px;
  right: 5px;
} */
 .htubi-emoji-card-bg {
  background-color: #90AEFF;
 }

.htubi-emoji-name {
  color: #000000;
font-size: 11.8px;
font-weight: 600;
line-height: 16.11px;

}

