:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body{
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  max-width: 430px;
  background-color: #ebf2fa;
  overflow-x: hidden;
  min-height: 100vh;
}

.main-layout{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color:white;
}
.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.content-container {
  width: 100%;
  flex-grow: 1; 
  margin-top: 58px; 
  margin-bottom: 60px; 
  /* padding: 0px 20px; */
  overflow-y: scroll; 
  background-color: white;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}
.donateInput{
  width: 100%;
  margin: 5px;
  border-radius: 24px;
  border: 1px solid #EAEAEA;
  height: 50px;
  padding: 12px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.success-heading{
font-size: 20px;
font-weight: 800;
}
.success-title{
  font-size: 14px;
font-weight: 400;
}
.cursor-pointer{
  cursor:pointer
}