/* Full page container */
.em-login-main-container {
    display: flex;
    background: linear-gradient(180deg, #90AEFF -38.2%, #F7F9FB 100%);
    height: 100vh;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .em-login-container {
    max-height: 511px;
    width: 386px;
  }
  
  /* Centered login box */
  .em-login-box {
    max-width: 386px;
    height: 437px;
    gap: 15px;
  }
  
  .em-login-box-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 96px;
    margin-bottom: 10px;
  }
  
  .em-login-box-logo {
    max-width: 32px;
    max-height: 32px;
  }
  
  .em-login-top-text {
    width: 291px;
    height: 52px;
  }
  
  /* Main title */
  .em-login-heading {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    color: #000;
  }
  
  .subtext {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  
  /* Input container and icon */
  .input-container {
    position: relative;
  }
  
  .custom-input {
    padding-left: 45px;
    border-radius: 30px;
    border: 1px solid #ddd;
    padding: 12px 15px;
    font-size: 1rem;
    background-color: #f7f8fa;
    height: 64px;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .custom-input:focus {
    border-color: #8AB6FF;
    box-shadow: 0 0 0 4px rgba(138, 182, 255, 0.2);
  }
  
  .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
  }
  
  /* Login button */
  .em-btn-login {
    background-color: #7FA9FF;
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    height: 64px;
  }
  