/* Full page container */
.em-otp-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #90AEFF -38.2%, #F7F9FB 100%);
  height: 100%;
  padding: 0px 22px;
  width:100%;
  justify-content: center;
  align-items: center;
  }
  
  .em-otp-container {
    max-height: 511px;
    /* width: 386px; */
  }
  
  /* Centered OTP box */
  .em-otp-box {
    /* max-width: 386px; */
    height: 437px;
    gap: 15px;
  }
  
  .em-otp-box-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 96px;
  }
  
  .em-otp-box-logo {
    max-width: 32px;
    max-height: 32px;
  }
  
  .em-otp-top-text {
    width: 291px;
    height: 52px;
  }
  
  /* Main title */
  .em-otp-heading {
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: #000;
  }
  .em-otp-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .subtext {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
  }
  
  /* OTP Input Fields */
  .em-otp-input-container {
    margin: 40px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 15px;

  }
  
  .otp-input {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid #ddd;
    transition: border 0.3s ease-in-out;
  }
  
  .otp-input:focus {
    border-color: #8AB6FF;
    box-shadow: 0 0 0 4px rgba(138, 182, 255, 0.2);
  }
  
  /* Verify button */
  .em-btn-verify {
    background-color: #7FA9FF;
    border: none;
    border-radius: 50px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    height: 64px;
  }
  .otp-input:focus-visible{
    outline:none;
  }
  .terms-container-hw {
    font-size: 9px;
    color:#8D8D8D; /* muted text color */
    text-align: center;
    margin-top: 20px;
  }
  
  .text-muted-hw {
    color: #000000;
    text-decoration: none;
    padding: 0 3px;
    font-weight: bold;
  }
  
  .text-muted-hw:hover {
    text-decoration: underline;
  }
  
  .otp-margin{
    margin-top: 60px;
  }
  .em-back-btn{
    position: absolute;
    top: 0%;
    left: 0%;
    
  }